<div>
	<!--
	<button data-dojo-type="dijit/form/Button" data-dojo-props="iconClass:'fa fa-square-o fa-fw',showLabel:true,disabled:false" data-dojo-attach-point="btnSubscribedTopics" data-dojo-attach-event="click:onSubscribedTopics">Current Subscribed Topics:</button>
	<button data-dojo-type="dijit/form/Button" data-dojo-props="iconClass:'fa fa-pencil-square-o fa-fw',showLabel:true,disabled:false" data-dojo-attach-point="btnPublishedTopics" data-dojo-attach-event="click:onPublishedTopics">Current Published Topics:</button>
	<button data-dojo-type="dijit/form/Button" data-dojo-props="iconClass:'fa fa-eraser fa-fw',showLabel:true,disabled:false" data-dojo-attach-point="btnClear" data-dojo-attach-event="click:onClear">Clear</button>
-->
	<textarea name="Topics" id="Topics" cols="38" rows="23"></textarea>
</div>
